@import url('https://fonts.googleapis.com/css?family=Rubik');

html,body{
  margin: 0;
  padding: 0;
  background-color: rgb(0, 1, 48);
}

body input, body h1, body h3, body a, body span, #splash-view-date-time, .pin-digit-value, .title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 30px;
}

#app{
  font-size: 1.25em;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-repeat: repeat-y;
  z-index: 2;
}

#app.day{
  background-image: url("/img/bg.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
}

#app.night{
  background-color: #000000;
}

#background {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 3s ease, background-color 3s ease-in-out, border 3s ease-in-out, box-shadow 3s ease-in-out, color 3s ease-in-out, filter 250ms, transform 250ms ease;
}

.background-resized {
  filter: blur(8px);
  transform: scale(1.2);
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#background.day {
  background-image: url("/img/firewatch-day.jpg");
}

#background.night {
  background-image: url("/img/firewatch_night.jpg");
}

.day, .night {
  perspective: 800px;
  transform-style: preserve-3d;
  /*transition: background-color 1s ease-in-out, border 1s ease-in-out, box-shadow 1s ease-in-out, color 1s ease-in-out;*/
}

.button{
  cursor: pointer;
  text-align: center;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-size: 1.2em;
  z-index: 2;
}

.button-small{
  min-width: 2em;
}

.button-large{
  min-width: 5em;
}

.button-max{
  min-width: 100%;
}

.button-half{
  min-width: 37%;
  margin: 0 10px;
}

.bottom{
  left: 48vw;
  bottom: 5vh;
  position: absolute;
}

.blur, .tag{
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
  color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out, box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out, box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  color: rgba(255, 255, 255, 0.9);
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.col{
  flex-direction: column;
}

.row{
  flex-direction: row;
}

.active-view{
  visibility: revert !important;
  opacity: 1 !important;
}

.view{
  visibility: hidden;
  margin: 0 20px;
  opacity: 0;
  transition: opacity 500ms ease;
}

.rounded{
  padding: 10px 20px;
  border-radius: 100px;
}

.square{
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
}

.bounce{
  animation-delay: 500ms;
  animation-name: bounce;
  animation-duration:  5s;
  animation-iteration-count: infinite;
}

.bounce:hover{
  animation: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-1em);
  }
  10% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px) }
  4% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px) }
  8%, 24% {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px); }
  12%, 28% {
    -webkit-transform: translateX(18px);
    transform: translateX(18px); }
  16% {
    -webkit-transform: translateX(-22px);
    transform: translateX(-22px); }
  20% {
    -webkit-transform: translateX(22px);
    transform: translateX(22px); }
  32% {
    -webkit-transform: translateX(-16px);
    transform: translateX(-16px); }
  36% {
    -webkit-transform: translateX(16px);
    transform: translateX(16px); }
  40%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
}

#date-time-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 3vh;
}

.title{
  color: whitesmoke;
  font-size: 4em;
  height: 80px;
  line-height: 80px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 0 0 .1em 0;
  display: flex;
  flex-direction: column;
}

#pin-content{
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  top: 54vh;
}

.center{
  justify-content: space-between;
  align-items: center;
  position: relative !important;
}

.left{
  justify-content: space-between;
  align-items: start;
  position: relative !important;
  display: flex;
}

#singup-back-button{
  width: 100%;
}

.pin{
  width: 1em;
  height: 3em;
  margin: 5px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 6%);
  display: inline-flex;
  font-size: 1em;
  justify-content: center;
  position: relative;
  transition: background-color 250ms, border-color 250ms;
  cursor: pointer;
}

#pin-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 45vh;
  height: fit-content;
}

#pin-hidden-input{
  background-color: transparent;
  border: none;
  height: 0;
  outline: none;
  pointer-events: none;
  position: absolute;
  width: 0;
  margin: 0 auto;
  left: 39%;
  top: 55%;
}

#splash-signup{
  position: absolute;
  overflow: hidden;
  margin: 2.5% 2.5%;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 0;
  top: 0;
}

#signup-buttons{
  bottom: 3vh;
  position: absolute;
  width: 100%;
}

.pin.blink:before{
  animation: blink_bar 2s ease-in-out infinite;
  opacity: 1;
  transform: translateY(-10px);
}

.pin:before {
  background-color: whitesmoke;
  border-radius: 10px;
  bottom: 0px;
  height: 3px;
  left: 15%;
  opacity: 0;
  transform: translateY(0px);
  width: 70%;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 6%);
  content: "";
  position: absolute;
  transition: opacity 250ms, transform 250ms;
  z-index: 2;
}

.pin:after {
  background-color: whitesmoke;
  border-radius: 20px;
  height: 20px;
  opacity: 0;
  transform: scale(0.25);
  width: 20px;
}

.pin:before, .pin:after {
  box-shadow: 2px 2px 2px rgb(0 0 0 / 6%);
  content: "";
  position: absolute;
  transition: opacity 250ms, transform 250ms;
  z-index: 2;
}

.pin-digit {
  font-size: 2em;
}

.hidden-pin{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: white;
  transition: background-color 250ms ease-in-out;
}

.blink {
  text-blink: 0;
}

@keyframes blink_bar {
  from, 25%, to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.shake{
  animation: 1s shake;
}

.error{
  border: 1px solid rgba(252, 122, 122, 0.55) !important;
}

#home{
  /*scroll-snap-type: y mandatory;*/
  top:0;
  position: absolute;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  display: none;
}

#home-content{
  position: absolute;
  width: -webkit-fill-available;
  height: fit-content;
  top: 0;
}

#home-settings-container{
  position: absolute;
}

#home-nav-container{
  position: fixed;
  width: -webkit-fill-available;
  height: 4.7vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  left: 0;
  justify-content: center;
  margin-bottom: 0vh;
  z-index: 1;
  bottom: -5vh;
  background-size: cover;
  transition: bottom 500ms ease-out;
}

#nav-bg{
  position: absolute;
  width: -webkit-fill-available;
  height: 4.7vh;
  background-image: url("/img/paint-swirl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  z-index: -1;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  opacity: .6;
  filter: blur(1px) brightness(0.7);
}

#home-nav-container::before {
  content: "";
  display: block;
  -webkit-filter: blur(1px) brightness(0.5);
  -moz-filter: blur(1px) brightness(0.5);
  -ms-filter: blur(1px) brightness(0.5);
  -o-filter: blur(1px) brightness(0.5);
  filter: blur(1px) brightness(0.5);
}

.shown{
  bottom: 0vh !important;
}


#home-nav-container .nav-group:hover{

}

#home-nav-container a{
  text-decoration: none;
}

#home-nav-container a:hover{

}

.section:first-child{
  margin-top: 0;
}

.section{
  /*scroll-snap-align: start;*/
  width: -webkit-fill-available;
  height: 92vh;
  position: relative;
  margin: 10vh 0;
}

#home-dash-header{
  margin: 2.5% 0 0 0%;
}

#button-spacer{
  width: 5em;
}

.fixed{
  position: fixed;
}

#nav-button{
  bottom: .5vh;
  left: 48%;
}

.nav-group{
  text-align: center;
  transition: color 500ms ease-out;
  margin: 0 auto;

}

.nav-active a{
  color: #a3ffff;
}

.nav-icon{
  opacity: 0;
  transition: opacity 500ms ease-out;
  width: 10vw;
  height: 6px;
  background-color: #9b54d5;
  margin: 0 auto -12px auto;
  border-radius: 5px;
}

.nav-active .nav-icon{
  opacity: 1;
}

.nav-group a{
  cursor: pointer;
  font-weight: 600;
  font-size: 26px;
}

.nav-group a:hover{
  color: #28f5f5;
}
